<div class="my-3">
    <p [ngClass]="{'strike' : !todo.active}">{{ todo.title }}</p>
    <p [ngClass]="{'strike' : !todo.active}">{{ todo.desc }}</p>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="disabledFieldsetCheck{{i}}" (click)="onClickCheck(todo)" [checked]="!todo.active">
        <label class="form-check-label" for="disabledFieldsetCheck{{i}}"> Done </label>
      </div>
    <button class="btn btn-danger" (click)="onClick(todo)"> Delete </button>
</div>

